.contenu {
    padding-bottom: 50px;
}
.headerArticle {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.logement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h1 {
        color :#FF6060;
        font-size: 35px;
        margin-top: 15px;
    }
    .location {
        color :#FF6060;
    }
    h1, .location{
        width: 100%;
        text-align: left;
    }
}

.proprietaire {
    .infoProprietaire{
        display:flex;
        flex-direction: row;
        color :#FF6060;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        p{
            margin-right:20px ;
        }
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

@media only screen and (max-width: 767px) {
    //Mobile
    .headerArticle {
        flex-direction: column;
        justify-content: baseline;
    }
    .proprietaire {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

@media (768px <= width <1024px)  {
    //Tablette
    .headerArticle {
        flex-direction: column;
        justify-content: baseline;
    }
    .proprietaire {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .logements{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;
        padding: 0px;
        background-color: white;
        article{
            margin: auto;
            width: 48%;
        }
    }
}

