.logements {
    
    display: flex;
    flex-flow: row wrap;
    width: 80%; 
    margin: 30px auto 30px auto;
    gap: 4%;
    row-gap: 25px;
    background-color: rgba(243, 240, 240, 0.733);
    padding: 50px;
    border-radius: 30px;

    article{
        width: 30%;
        height: 300px;
        position: relative;
        border-radius: 25px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
        }
        h2 {
            position: absolute;
            bottom: 5px;
            left: 10px;
            color:white;
            font-size: 0.95em;
        }
    }
} 
@media only screen and (max-width: 767px) {
    //Mobile
        .logements{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 95%;
            padding: 0px;
            background-color: white;
            article{
                margin: auto;
                width: 95%;
            }
        }
    }

@media (768px <= width <1024px)  {
    //Tablette
    .logements{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;
        padding: 0px;
        background-color: white;
        article{
            margin: auto;
            width: 48%;
        }
    }
}

