*{
    box-sizing: border-box;
}

.footer {
    color:white;
    padding: 30px 50px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    img {
        
        margin: auto auto 15px auto;
        object-fit: cover;
        width: 100px;
        height: auto;
    }
}